
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lista de BLs</title>
</head>
<body>
    <h2>Lista de BLs</h2>
    <a class="btn btn-primary" href="@Url.Action("Form", "BL")">
        Cadastrar
    </a>        
    <br />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>EDITAR</th>
                    <th>NÚMERO</th>
                    <th>CONSIGNEE</th>
                    <th>NAVIO</th>
                    <th>APAGAR</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var bl in ViewBag.BLs)
                {
                <tr>
                    <td>@Html.RouteLink(" ", "EditarBL", new { id = bl.Id, numero = bl.Numero }, new { @class = "btn-default glyphicon glyphicon-edit" })</td>
                    <td>@bl.Numero</td>
                    <td>@bl.Consignee</td>
                    <td>@bl.Navio</td>
                    <td>@Html.RouteLink(" ", "ApagarBL", new { id = bl.Id, numero = bl.Numero }, new { @class = "btn-danger glyphicon glyphicon-remove" })</td>
                </tr>
                }
            </tbody>
        </table>
</body>
</html>

