
@{
    ViewBag.Title = "FormEdição";
}

<h2>Novo container</h2>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    @if (ViewBag.BLs.Count != 0)
    {
        <form action="/Container/Editar" method="post">

            <label for="id"> Id: </label>
            <input id="id" name="Container.Id" value="@ViewBag.Container.Id" readonly />

            <label for="numero"> Número: </label>
            <input id="numero" name="Container.Numero" value="@ViewBag.Container.Numero" readonly/>

            <label for="tipo"> Tipo: </label>
            <input id="tipo" name="Container.Tipo" value="@ViewBag.Container.Tipo" />

            <label for="tamanho"> Tamanho: </label>
            <input id="tamanho" name="Container.Tamanho" value="@ViewBag.Container.Tamanho" />

            <label for="BL"> BL: </label>
            <select id="BL" name="Container.BLId">
                @foreach (var bl in ViewBag.BLs)
                {
                    <option value="@bl.Id" selected="(@bl.Id.Equals(ViewBag.Container.BLId)">@bl.Numero</option>
                }
            </select>
            <input type="submit" />
        </form>
    }
    else
    {
        <p>Necessário ter um BL registrado</p>
        <a class="btn btn-primary" href="@Url.Action("Form", "BL")">
            Novo BL
        </a>
    }

</body>
</html>