@model IList<BLContainer_TP02.Models.Container>

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lista de Containers</title>
</head>
<body> 
    <h2>Lista de Container</h2>
    <a class="btn btn-primary" href="@Url.Action("Form", "Container")">
        Cadastrar
    </a>
    <br/>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>EDITAR</th>
                <th>NÚMERO</th>
                <th>TIPO</th>
                <th>TAMANHO</th>
                <th>BL</th>
                <th>APAGAR</th>
            </tr>
        </thead>
        <tbody>
             @foreach (var container in Model)
             {
                <tr>
                    <td>@Html.RouteLink(" ", "EditarContainer", new { id = container.Id, numero = container.Numero }, new { @class = "btn-default glyphicon glyphicon-edit" })</td>
                    <td>@container.Numero</td>
                    <td>@container.Tipo</td>
                    <td>@container.Tamanho</td>
                    <td>@Html.RouteLink($"{container.Bl.Numero}", "BLContainer", new { id = container.Bl.Id, numero = container.Bl.Numero }, new { @class = "BL" })</td>
                    <td>@Html.RouteLink(" ", "ApagarContainer", new{id = container.Id, numero = container.Numero}, new { @class = "btn-danger glyphicon glyphicon-remove" })</td>
                </tr>
                } 
       </tbody>
    </table>
</body>
</html>

