
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lista de Containers</title>
</head>
<body> 
    <h2>Lista de Container</h2>
    <a class="btn btn-primary" href="@Url.Action("Form", "Container")">
        Novo
    </a>
    <br/>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>EDITAR</th>
                <th>NÚMERO</th>
                <th>TIPO</th>
                <th>TAMANHO</th>
                <th>BL</th>
                <th>APAGAR</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var container in ViewBag.Containers)
            {
                <tr>
                    <td>
                        <a class="btn-default"><span class="glyphicon glyphicon-edit"></span></a>
                    </td>
                    <td >@container.Numero</td>
                    <td >@container.Tipo</td>
                    <td >@container.Tamanho</td>
                    <td><a href="BL/${container.Bl.Id}">@container.Bl.Id</a></td>
                    <td><a class="btn-danger"><span class="glyphicon glyphicon-remove"></span></a></td>
                </tr>
            }   .

        </tbody>
    </table>
</body>
</html>

